services:
  qdrant:
    image: qdrant/qdrant:v1.13.4
    container_name: sira-qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./.qdrant_storage:/qdrant/storage

